<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Cliente</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header class="main-header">
        <nav>
            <h1 class="logo">PETZEN</h1>
            <a href="home.html" class="btn">Sair</a>
        </nav>
    </header>

    <main class="page-container">
        <h1 class="page-title">Área do Cliente</h1>
        <div class="client-options">
            <a href="agenda.html" class="card-link">Agenda de Pets</a>
            <a href="agendar_consulta.html" class="card-link">Agendar Consulta</a>
            <a href="calendario.html" class="card-link">Calendário</a>
            <a href="meu_plano.html" class="card-link">Meu Plano</a>
        </div>
    </main>

</body>
</html>